#Main {
  display: flex;
  gap: 10%;
}

.inline-b {
  display: inline-block;
}

.block {
  display: block;
}

/* #scores {

} */
#players {
  border: solid 2px;
  overflow-y: auto;
  height: 20vh;
}

#addScore {
  display: flex;
  flex-direction: column;
  gap: 1em;
}